<br>
<br>
<br>
<h2>User Login</h2>
<br>
<br>
<form class="login-form">
    <p class="login-text">
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-lock fa-stack-1x"></i>
      </span>
    </p>
    <input  [(ngModel)]="username" name="username" type="username" class="login-username" autofocus="true" required="true" placeholder="username" />
    <input [(ngModel)]="password" name="password" type="password" type="password" class="login-password" required="true" placeholder="Password" />
    <input (click)="login()" type="submit" name="Login" value="Login" class="login-submit" />
  </form>
  <a href="#" class="login-forgot-pass">forgot password?</a>
  <div class="underlay-photo"></div>
  <div class="underlay-black"></div> 