
<!-- // food2fork develper tools: for each profile, connect the recipe language here - that data pull via {{ recipe }} 
also need image-->

<div class="section-title">
  <h2>Your Profile</h2>
</div>
<div class="profile-recipes"> 
  <!-- //recipes (for profiles adding later dynamically-->
    <div class="img-container">
      <img src="./images/profile-1.jpeg" alt="profile" class="profile-img">
   
    <!-- data id 1 is where pull in profile info -->
        </div>
</div>
 
    <div class="comment-title">
  <h2>Comments</h2>
</div>
<div class="form-group">
    <form ng-controller="Controller"> 
      <textarea class="form-control" rows="3" ng-model="cmtName" placeholder="Your Comment"></textarea>
      <br/>

<button class="btn btn-success btn-md pull-right" ng-click='btn_post();'>Comment</button>
    <br/>
  <br/>
  <br/>
<ul class="list-group">
  <li class="list-group-item" ng-repeat="cmt in comments"> {{ cmt }}
    <a href="" ng-click="post_cmt($home)"><span class="glyphicon glyphicon-trash" style="color:orangered; float:right;"></span></a>
  </li>
</ul>
</form>

</div>
<script type="text/javascript">
function Controller($scope) {
  $scope.comments = [];
  $scope.btn_post = function() {
    if ($scope.cmtName !='') {
      $scope.comments.push($scope.cmtName);
      $scope.cmtName = "";
    } 
  }
  $scope.post_cmt = function($home) {
    $scope.comments.splice($home, 1);

  }
}
</script>
